In [2]:
dict_1 = {"name1:":"Ahmet","nam2":"Mehmet","name3":"Dondurma"}
dict_1

{'name1:': 'Ahmet', 'nam2': 'Mehmet', 'name3': 'Dondurma'}

In [3]:
dict_1.items()

dict_items([('name1:', 'Ahmet'), ('nam2', 'Mehmet'), ('name3', 'Dondurma')])

In [5]:
def kwargs_function(** names):
    for i,j in names.items():
     print(f"key: {i}, value: {j}")

In [16]:
kwargs_function(name4="Babacan",name5="Ali",name6="Gül")

key: name4, value: Babacan
key: name5, value: Ali
key: name6, value: Gül

In [8]:
kwargs_function(dict_1)

TypeError: kwargs_function() takes 0 positional arguments but 1 was given

In [13]:
kwargs_function(** dict_1)

key: name1:, value: Ahmet
key: nam2, value: Mehmet
key: name3, value: Dondurma

In [17]:
# filter()

filter(None,"Hi")

In [18]:
list(filter(None,"Hi"))

['H', 'i']

In [21]:
list(filter(None,[1,2,0,True,False,"",0.0,"Ahmet"]))

[1, 2, True, 'Ahmet']

In [22]:
def bul_teksayi(x):
    if x % 2 == 1:
        return True
    else:
        return False

In [23]:
bul_teksayi(5)

True

In [24]:
bul_teksayi(8)

False

In [26]:
list(filter(bul_teksayi, [1,2,3,4,5,6,7,8,9]))

[1, 3, 5, 7, 9]

In [27]:
tuple(filter(bul_teksayi, [1,2,3,4,5,6,7,8,9]))

(1, 3, 5, 7, 9)

In [29]:
def bul_cifsayi(x):
    if x % 2 == 1:
        return False
    else:
        return True

In [30]:
list(filter(bul_cifsayi,(54,6,3,2,1,0,4,43,136,121,11)))

[54, 6, 2, 0, 4, 136]

In [55]:
isimler_list =["ahmet","mehmet","ali","dondurma","ömerx","mehmet akif"]

In [56]:
def len_bul(k):
     if len(k)==5:
          return True

In [57]:
list(filter(len_bul,isimler_list))

['ahmet', 'ömerx']

In [58]:
def isArmstrong(sayı):

    sayı = str(sayı)
    return sum([ int(i) ** len(sayı)  for i in sayı]) == int(sayı)

In [59]:
isArmstrong(407)

True

In [60]:
for i in range(10,100000):
    if isArmstrong(i) == True:
        print(i)

153
370
371
407
1634
8208
9474
54748
92727
93084

In [61]:
list(filter(isArmstrong,range(10,100000)))

[153, 370, 371, 407, 1634, 8208, 9474, 54748, 92727, 93084]

# lambda()

In [62]:
def kareler_topla(x,y):
    return x ** 2 + y ** 2

In [63]:
kareler_topla(4,3)

25

In [64]:
lambda x,y: x** 2 + y **2

In [65]:
(lambda x,y: x** 2 + y **2)(4,3)

25

In [66]:
(lambda x,y: x** 2 + y **2)(4)

TypeError: <lambda>() missing 1 required positional argument: 'y'

SyntaxError: positional argument follows keyword argument unpacking (19280296.py, line 1)

In [69]:
(lambda x : len(x) == 5)("Ahmet")

True

In [75]:
list(filter((lambda x : len(x) == 6),isimler_list))

['mehmet']

In [84]:
list(filter((lambda x: x % 2 == 1 ),[1,2,3,4,5]))

[1, 3, 5]

In [85]:
tek_bul = (lambda x: x % 2 == 1 )

In [89]:
tek_bul(9)

True

In [90]:
tek_bul(4,9)

TypeError: <lambda>() takes 1 positional argument but 2 were given

In [118]:
name10 ="ahmet"
name_=name10[::-1]
name10 == name_

False

In [120]:
if name10 == name_:
  print(name_)
else:
  print("False")

False

In [122]:
(lambda x: x.lower() == x[::-1].lower())("nazan")

True

In [123]:
(lambda x: x.lower() == x[::-1].lower())("ey edip adanada pide ye")

True

In [125]:
(lambda x: x.lower() == x[::-1].lower())("Neveroddoreven")

True

In [6]:
import pandas as pd

In [127]:
! pip install pandas

Collecting pandas
  Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.9 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.9 kB ? eta -:--:--
     ------------------- ------------------ 30.7/60.9 kB 640.0 kB/s eta 0:00:01
     -------------------------------------- 60.9/60.9 kB 538.9 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dk_aozaydin\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2024.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\dk_aozaydin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.2-cp312-cp312-win_amd64.whl (11.5 MB)
   ---------------------------------------- 0.0/11.5 MB ? eta -:--:--
   ---------------------------------------- 0.1/11.5 MB 4.5 MB/s eta 0:00:03
    --------------------------------------- 0.2/11.5 MB 2.8 MB/s eta 0:00:05
   - -------------------------------------- 0.5/11.5 MB 3.8 MB/s eta 0:00:03
   --- ------------------------------------ 1.0/11.5 MB 5.3 MB/s eta 0:00:02
   ------ --------------------------------- 1.9/11.5 MB 7.8 MB/s eta 0:00:02
   ----------- ---------------------------- 3.4/11.5 MB 12.1 MB/s eta 0:00:01
   ---------------------- ----------------- 6.4/11.5 MB 18.7 MB/s eta 0:00:01
   ----------------------- ---------------- 6.9/11.5 MB 20.0 MB/s eta 0:00:01
   ---------------------------- ----------- 8.1/11.5 MB 19.9 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.5 MB 19.2 MB/s eta 0:00:01
   ----------------------------- ---------- 8.4/11.5 MB 19.2 MB/s eta 0:00:01
   ---------------------------------- ----- 9.9/11.5 MB 19.2 MB/s eta 0:00:01
   -------------------------------------- - 10.9/11.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------  11.5/11.5 MB 25.2 MB/s eta 0:00:01
   ---------------------------------------- 11.5/11.5 MB 23.4 MB/s eta 0:00:00
Downloading numpy-2.0.0-cp312-cp312-win_amd64.whl (16.2 MB)
   ---------------------------------------- 0.0/16.2 MB ? eta -:--:--
   ------------ --------------------------- 5.2/16.2 MB 110.0 MB/s eta 0:00:01
   ------------------------ --------------- 9.9/16.2 MB 105.2 MB/s eta 0:00:01
   ------------------------------------ --- 14.7/16.2 MB 81.8 MB/s eta 0:00:01
   ---------------------------------------- 16.2/16.2 MB 73.1 MB/s eta 0:00:00
Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
   ---------------------------------------- 0.0/505.5 kB ? eta -:--:--
   --------------------------------------- 505.5/505.5 kB 31.0 MB/s eta 0:00:00
Downloading tzdata-2024.1-py2.py3-none-any.whl (345 kB)
   ---------------------------------------- 0.0/345.4 kB ? eta -:--:--
   --------------------------------------- 345.4/345.4 kB 10.8 MB/s eta 0:00:00
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.0.0 pandas-2.2.2 pytz-2024.1 tzdata-2024.1

[notice] A new release of pip is available: 24.0 -> 24.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [7]:
df= pd.read_csv("adult_eda.csv")

In [8]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13.0,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13.0,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9.0,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7.0,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13.0,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12.0,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9.0,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9.0,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9.0,Never-married,Adm-clerical,NaN,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9.0,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [12]:
df.sex

0          Male
1          Male
2          Male
3          Male
4        Female
          ...
32556    Female
32557      Male
32558    Female
32559      Male
32560    Female
Name: sex, Length: 32561, dtype: object

In [13]:
df.sex.apply(lambda x: 0 if x == "Male" else 1)

0        0
1        0
2        0
3        0
4        1
        ..
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64