# Tuples

In [ ]:
# immutable
# iterable

In [ ]:
tuple()
()

In [3]:
tuple("Ahmet")

('A', 'h', 'm', 'e', 't')

In [4]:
tuple([1, 2, 3, 4, 5 ])

(1, 2, 3, 4, 5)

In [5]:
tuple(1250)

TypeError: 'int' object is not iterable

In [6]:
tuple__1=("Ozaydin",25, 2.25,False, [3,2,1], (6,5,4))
tuple__1

('Ozaydin', 25, 2.25, False, [3, 2, 1], (6, 5, 4))

In [8]:
name = "Ahemt"

In [9]:
tuple(name)

('A', 'h', 'e', 'm', 't')

In [10]:
list(name)

['A', 'h', 'e', 'm', 't']

In [11]:
dadas_1 = 2.25
type(dadas_1)

float

In [12]:
dadas_2 = 2,25
type(dadas_2)

tuple

In [13]:
1,2,3,4,5,

(1, 2, 3, 4, 5)

In [14]:
("babacan") # string

'babacan'

In [15]:
("babacan",) # tuple yani tek elemanlı tuple için virgül kullanılmalı

('babacan',)

In [16]:
len(("babacan",))

1

In [21]:
tuple__2 = (3,4,5)

In [22]:
tuple__2

(3, 4, 5)

In [23]:
[5,6,7] + [4,5]

[5, 6, 7, 4, 5]

In [24]:
[2,3,4] * 3

[2, 3, 4, 2, 3, 4, 2, 3, 4]

In [25]:
(1,2,4) + (8,9)

(1, 2, 4, 8, 9)

In [26]:
(7,8,9) * 5

(7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9, 7, 8, 9)

In [28]:
("Ahmet",25,False) + ("Dadaş") # soldaki tuple sağdaki str bu nedenle concat yapmaz hata alınır

('Ahmet', 25, False, 'Dadaş')

In [29]:
("Ahmet",25,False) + ("Dadaş",) # virgül ile tuple + tuple olarak görür

('Ahmet', 25, False, 'Dadaş')

# index Slice

In [34]:
tuple__3 = ("Ahmet", 34, False, ["Sedef", 25, False],("Nurdan", 10, "Uğur", 7)) 
tuple__3

('Ahmet', 34, False, ['Sedef', 25, False], ('Nurdan', 10, 'Uğur', 7))

In [35]:
tuple__3[3]

['Sedef', 25, False]

In [36]:
tuple__3[5]

IndexError: tuple index out of range

In [37]:
tuple__3[4]

('Nurdan', 10, 'Uğur', 7)

In [38]:
tuple__3[-1]

('Nurdan', 10, 'Uğur', 7)

In [39]:
tuple__3[4][1]

10

In [40]:
mix_tuple = (25,3.14,"False",True),("Mehmet",34),("Sedat",22)
mix_tuple

((25, 3.14, 'False', True), ('Mehmet', 34), ('Sedat', 22))

In [56]:
bool(mix_tuple[0][2])

True

In [57]:
int(bool(mix_tuple[0][2]))

1

In [59]:
name_1,name_2 = mix_tuple[1][0], mix_tuple[2][0]

In [60]:
print(name_1)
print(name_2)

Mehmet
Sedat

In [61]:
mix_tuple[1:3]

(('Mehmet', 34), ('Sedat', 22))

In [62]:
mix_tuple[1:2]

(('Mehmet', 34),)

In [63]:
mix_tuple[15:20] # boş tuple getirir

()

In [64]:
liste_one = ["Ehmet", 30, "Data_Scientist"]
liste_one

['Ehmet', 30, 'Data_Scientist']

In [65]:
liste_one[1] = 25

In [66]:
liste_one

['Ehmet', 25, 'Data_Scientist']

In [67]:
tuple__4 = ("Ehmet", 30, "Data_Scientist")
tuple__4

('Ehmet', 30, 'Data_Scientist')

In [68]:
tuple__4[1] = 25 # immutable değiştirilemez

TypeError: 'tuple' object does not support item assignment

In [69]:
cevrilen_tuple = (liste_one)
cevrilen_tuple

['Ehmet', 25, 'Data_Scientist']

In [71]:
cevrilen_tuple[1] =55

In [73]:
cevrilen_liste = tuple(cevrilen_tuple)
cevrilen_liste

('Ehmet', 55, 'Data_Scientist')

In [76]:
mix_tuple_1 = (25,3.14,"False",True),("Mehmet",34),["Nur",22]
mix_tuple_1

((25, 3.14, 'False', True), ('Mehmet', 34), ['Nur', 22])

In [78]:
mix_tuple_1[2][1]

22

In [80]:
mix_tuple_1[2][1] =35

In [82]:
mix_tuple_1

((25, 3.14, 'False', True), ('Mehmet', 34), ['Nur', 35])

# Tuple Methods

In [84]:
sayilar_1 =1,2,3,3,5,5,5,56,7,8,9
sayilar_1

(1, 2, 3, 3, 5, 5, 5, 56, 7, 8, 9)

In [85]:
sayilar_1.count(5)

3

In [86]:
sayilar_2 = (1,2,3,(4,5,6),(6,7,8))

In [87]:
sayilar_2.count(3)

1

# index

In [88]:
sayilar_2.index(2) # 2 'nin var olduğu ilk index değerini getirir

1