liste_1 = [4,5,6,9,85,23,65,47,32,91] listenin en küçük ve en büyük elemanını min ve max fpnksiyonu kullanmadan bulun. sort fonk da kullanmayın. while ile min değeri for ile max değeri bulun.

In [163]:
liste_1 = [5,6,9,85,91,23,4,65,47,32,1,175]

In [164]:
max_value = liste_1[0]
min_value = liste_1[0]
for i in liste_1:
    if i > max_value:
        max_value = i
    elif i <=min_value:
        min_value=i
print(min_value)
print(max_value)

1
175

In [165]:
dict_a={"name": "Ahmet","age":35,"job":"ds"}

In [166]:
for i in dict_a:
    print(i)

name
age
job

In [168]:
for i in dict_a.items():
    print(i)

('name', 'Ahmet')
('age', 35)
('job', 'ds')

In [169]:
for i in dict_a.values():
    print(i)

Ahmet
35
ds

In [175]:
for i, k in dict_a.items():
    print(f"keys:{i:<5}, values: {k}")

keys:name , values: Ahmet
keys:age  , values: 35
keys:job  , values: ds

In [177]:
for i, k in dict_a.items():
    print(f"keys:{i:>6}, values: {k}")

keys:  name, values: Ahmet
keys:   age, values: 35
keys:   job, values: ds

In [178]:
for i, k in dict_a.items():
    print(f"keys:{i:>6}, values: {k:^15}")

keys:  name, values:      Ahmet
keys:   age, values:       35
keys:   job, values:       ds

In [187]:
"ahmetozaydin".center(20)

'    ahmetozaydin    '

In [188]:
"ahmetozaydin".ljust(20)

'ahmetozaydin        '

In [189]:
"ahmetozaydin".rjust(20)

'        ahmetozaydin'

1 den 100 e kadar sayıların toplamı

In [208]:
k=1
sum_1=0
for i in range(1,101):
    sum_1 = i+sum_1
    k+=1
print(sum_1)

5050

In [209]:
toplam = 0
k = 1

while k <=100:
    toplam+=k
    k=k+1
print(toplam)

5050

In [3]:
sum([1,5,6,1,3])

16

In [2]:
sum(range(101))

5050

In [4]:
sum([1,5,6,1,3],100)

116

In [15]:
toplam = 0
k = 1

while k <=100:

    if k % 2 == 0:
        
        toplam+=k
    k+=1    
print(toplam)

2550

In [17]:
toplam = 0
for i in range(101):
    if i % 2 == 0:
        toplam+=i
print(toplam)

2550

In [18]:
sum(range(0,101,2))

2550

In [21]:
liste_1 = [1,2,3,5,7,9]
liste_1

[1, 2, 3, 5, 7, 9]

In [22]:
# 3 ün katı olduğunda bitir diğer durumlarda karesini yaz

for i in liste_1:
    if i % 3 ==0:
        break
    print(i**2)

1
4

In [23]:
# 3 ün katı olduğunda işlem yapma diğer durumlarda karesini yaz

for i in liste_1:
    if i % 3 ==0:
        continue
    print(i**2)

1
4
25
49

In [27]:
toplam = 0
for i in range(1,51):
    if i % 2 == 1:
        continue
    toplam+=i
print(toplam)

650

In [29]:
list_a = ["ahmet","mehmet","dondurma"]
list_b =[3,2,1]

In [30]:
zip(list_a,list_b)

In [31]:
list(zip(list_a,list_b))

[('ahmet', 3), ('mehmet', 2), ('dondurma', 1)]

In [32]:
tuple(zip(list_a,list_b))

(('ahmet', 3), ('mehmet', 2), ('dondurma', 1))

In [33]:
dict(zip(list_a,list_b))

{'ahmet': 3, 'mehmet': 2, 'dondurma': 1}

In [34]:
tuple(zip(list_b,list_a))

((3, 'ahmet'), (2, 'mehmet'), (1, 'dondurma'))

In [35]:
set(zip(list_a,list_b))

{('ahmet', 3), ('dondurma', 1), ('mehmet', 2)}

In [36]:
a = "ahmet"
b = "mehmet"
c = "dondurma"

In [37]:
list(zip(a,b,c))

[('a', 'm', 'd'),
 ('h', 'e', 'o'),
 ('m', 'h', 'n'),
 ('e', 'm', 'd'),
 ('t', 'e', 'u')]