In [1]:
print("selamlar")

selamlar

In [2]:
type("selamlar")

str

In [ ]:
print("selamlar2")

In [6]:
age_1 =25
name_1="Ahmet"
job_1 = "QA"

print("name:", name_1,\
       "age", age_1,\
          "job:", job_1)

name: Ahmet age 25 job: QA

In [34]:

name_1="Ahmet"
age_1 = 32
job_1 = "QA"
print("name:", name_1); ("age:", age_1); ("job:", job_1)

name: Ahmet

('job:', 'QA')

In [38]:
print('name:', name_1);print ('age:', age_1); print('job:', job_1)

name: Ahmet
age: 32
job: QA

In [37]:
print("name:", "job:", "age:");print(name_1,job_1,age_1)

name: job: age:
Ahmet QA 32

In [39]:
print(type(name_1))

<class 'str'>

In [40]:
print(type(age_1))

<class 'int'>

In [49]:
name_1=age_1

In [51]:
print(type(name_1))

<class 'int'>

In [50]:
print(name_1)

32

In [46]:
name_1 = "Ahmet"

In [61]:
ondalik = 3.12435

In [62]:
print(type(ondalik))

<class 'float'>

In [63]:
ondalik = int
print(type(ondalik))

<class 'type'>

In [64]:
# tekli yorum

# yorum
print("Hello World")
print("Welcome to Python Tutorial") # bir cümle sonrası yorum

Hello World
Welcome to Python Tutorial

In [65]:
# örnek python if() blok

if 10 > 5:  # 1. blok başlar
  print("10 is greater than 5") # 1. block
  if 20 > 10: # 1st block
    print("20 is greater than 10") # iç blok
else: # 2nd block starts
  print("10 is less than 5") # 2. blok

10 is greater than 5
20 is greater than 10

In [77]:
x = 0
y = bool(x)
print(y)  # Output: False

True

In [97]:
x = '10'
y = int(x)
print(y)  # Output: 10

10

In [115]:
# Example: Python Function Block

def SayHello(name):
  print("Hello ", name)
  print("This is the second statement of the SayHello() function")
  print("This is the last statement of the SayHello() function")
print("This is not the part of the SayHello() function")

#calling a function
SayHello(123456)

This is not the part of the SayHello() function
Hello  123456
This is the second statement of the SayHello() function
This is the last statement of the SayHello() function

In [121]:
# Örnek: Çoklu Değişkenler Oluşturma

x, y, z = 10,None,True
print(x, y, z)  #10 None True

10 None True

In [125]:
# Örnek: Sözdizimi Hatası (Syntax Error)

x = 10; y = 'Hello'; z = True 
print(x, y, z)

10 Hello True

In [ ]:
# Örnek: Sözdizimi Hatası (Syntax Error)

x = 10, y = 'Hello', z = True